# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Large datasets
data/raw/*.xlsx
data/raw/*.xls
data/raw/*.csv

# Processed datasets
data/processed/*.csv

# Generated models
models/*.pkl
models/*.joblib

# Generated outputs
outputs/plots/*
outputs/reports/*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db